* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

:root {
    --color1: #008080;
    --color2: #00ffff;
    --borderRadiu1: 4px;
    /* --fontFamily:; */
    --color3: #1abc9c67;
    --color4: #f5eddc;
    --color5: #06283dee;
    --color6: #dff6ff;
    --color7: #EEF2E6;
    --colorFondo1: #f8f9f94f;
    --colorFondo2: #F2F4F4;
    --colorFondor3: #ECF0F1;
    --colorHover1: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --colorHover2: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    --colorHover3: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    --colorHover4: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --border: 1px solid black;
    --fontSice1: 18px;
    --fontSice2: 30px;
    --borber_bottom: 2px solid var(--color6);


}

body {
    background-color: var(--colorFondo1);
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.portafolio {
    position: relative;
}

.nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 2px 3px 0px black;
    z-index: 2500;

}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.nav_input {
    display: none;
}

.nav_titulo {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    color: blue;
    border: 3px solid black;
    padding: 4px;
    margin-left: 80px;
    border-radius: 8px;
}

.span_portada {
    position: absolute;
    width: 20px;
    height: 10px;
    bottom: -5px;
    right: 8px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.span_portada>span {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_items {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    position: relative;
}

.elemento_before {
    position: absolute;
    bottom: -2px;
    left: 0px;
    background-color: rgba(0, 0, 255, 0.692);
    width: 0%;
    height: 3px;
    transition: 0.5s;
}

.elemento_after {
    position: absolute;
    top: -2px;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.692);
    width: 0%;
    height: 3px;
    transition: 0.5s;
}

.active {
    width: 100%;
}

.nav_items:hover>.elemento_before {
    width: 100%;

}

.nav_items:hover>.elemento_after {
    width: 100%;

}


/* primera seccion _________________________________________________*/
.fa-phone{
    font-size: 15px;
    margin: 5px;

}

.portada_section {
    width: 95%;
    margin: 0 auto;
    margin-top: 8px;
    height: 100vh;
    position: relative;
    scroll-margin-top: 80px;
    border-bottom: var(--borber_bottom);

}

.section_title {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 800;
    border-bottom: 4px solid blue;
    width: max-content;
    margin-top: 20px;
}

.container_section_portada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    height: 80%;
}

.portada_section_img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    object-position: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-left: 40px;
    box-shadow: 0px 2px 6px 0px black;
    margin-top: 10px;
}

.portada_section_Conteiner {
    width: 60%;
}

.portada_section_titulo_descripcion {
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 800;
}

.portada_section_texto_descripcion {
    font-size: 25px;
}

.portada_section_parrafo_descripcion {
    width: 100%;
    margin-top: 20px;
    font-size: 19px;
    line-height: 1.3;
    margin-bottom: 40px;
}

.section_btn {
    text-decoration: none;
    padding: 12px;
    background-color: blue;
    border-radius: 8px;
    color: white;
    letter-spacing: 1px;
    display: block;
    width: 160px;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section_btn:hover {
    background-image: var(--colorHover2);
    background-repeat: no-repeat;
    color: white;
    transition: all .5s;

}


/* segunda seccion ________________________________________________*/
.about_seccion {
    width: 95%;
    margin: 10px auto;
    height: 110vh;
    scroll-margin-top: 80px;
    border-bottom: var(--borber_bottom);
}

.about_section_conteiner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.about_section_img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: left;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-right: 60px;
    box-shadow: 0px 2px 6px 0px black;
    transition: all .5s;
    margin-top: 10px;
}

.about_section_img:hover {
    border-radius: 47% 53% 46% 54% / 49% 48% 52% 51%;
}

.about_section_conteiner_descripcion {
    width: 50%;

}

.about_section_descripcion_titulo {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    width: max-content;
    border-bottom: 3px solid blue;
}

.about_asection_text_descripcion {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
}

.about_section_datosPersonales {
    margin-bottom: 20px;
    border-bottom: 3px solid blue;
    width: max-content;
    font-size: 30px;
}

.about_descripcion_p {
    margin-bottom: 10px;
    font-weight: 900;
    color: blue;
    letter-spacing: 0.5px;
    font-size: 20px;
}

.about_section_span {
    font-weight: normal;
    font-size: 18px;
    color: black;

}

.about_section_descripcion_btn {
    /* margin-bottom: 50px; */
}



/* Tercera seccion ________________________________________________*/
.section_skill {
    height: 100vh;
    scroll-margin-top: 80px;
    width: 95%;
    margin: 0 auto;
    margin-top: 8px;
    border-bottom: var(--borber_bottom);
}

.section_coteiner_skill {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    overflow: auto;
    height: 80%;

}

.section_card_skill {
    width: 280px;
    height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid blue;
    box-shadow: 0px 4px 10px 0px black;
    overflow: auto;
    background-color: white;

}

.section_card_title {
    background-color: blue;
    color: white;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.section_card_ul_skill {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 10px 10px;
    position: relative;
}

.card_skill_li {
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
}

.skill_icon {
    width: 30px;
    height: 48px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_html {
    background-image: url("../Icon/html-5.svg");
}

.icon_css {
    background-image: url("../Icon/css-3\ \(1\).svg");
}

.icon_react {
    background-image: url("../Icon/react.svg");
}

.icon_javascript {
    background-image: url("../Icon/javascript.svg");
}

/* cuarte seccion ________________________________________________*/
.section_project {
    height: 100vh;
    width: 95%;
    margin: 8px auto;
    scroll-margin-top: 80px;
    border-bottom: var(--borber_bottom)
}

.section_cotainer_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 80%;
}

.section_project_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.section_project_li {
    list-style: none;
    font-size: 23px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    font-weight: 900;
    position: relative;
    cursor: pointer;
}

.section_project_li::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0px;
    background-color: rgba(0, 0, 255, 0.692);
    transition: .5s;
    border-radius: 8px;
    right: 0;
    bottom: -1px;

}

.section_project_li:hover::after {
    width: 80%;
}

.section_project_li:hover {
    color: black;
}

.section_project_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    height: 100%;
}

.project_cards {
    width: 300px;
    height: 320px;
    background-color: #5dade242;
    border-radius: 10px;
    position: relative;
}

.project_cards_titulo {
    background-color: blue;
    width: 90%;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    padding: 4px;
    color: white;
    border-radius: 8px;
    letter-spacing: 1px;
}

.cards_img {
    width: 300px;
    height: 230px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

/* _________________________________ */
.project_cards_infor {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    pointer-events: none;
}

.project_cards:hover .project_cards_infor {
    opacity: 1;
    height: 100%;
    pointer-events: unset;
}

.project_cards_text {
    color: white;
    text-align: justify;
    margin-bottom: 40px;
    padding: 20px;
}

.project_cards_btn {
    border: none;
    margin: 10px auto;
    padding: 15px;
    width: 90%;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
}

.project_cards_btn:hover {
    background-image: var(--colorHover2);
    background-repeat: no-repeat;
    color: white;
    transition: all .5s;
    font-size: 18px;
}


/* quinta seccion____________________________________ */
.footer_seccion {
    scroll-margin-top: 80px;
    width: 95%;
    margin: 10px auto;

}

.conteiner_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color3);
    height: 80vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
}

.input_conteiner {
    position: relative;
}

.footer_input {
    width: 90%;
    padding: 15px 0;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    resize: none;
}

textarea {
    height: 60px;
}


.label_input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;

}

.conteiner_footer .input_conteiner .footer_input:focus~.label_input {
    top: -30px;
    left: 0;
    color: white;
    font-size: 20px;
}

.footer_form {
    width: 350px;
    padding: 30px;
    background: rgba(225, 225, 225, 0.3);
    box-shadow: 0 10px 20px black;
    height: 440px;
    border-radius: 10px;
}

.footer_titulo {
    padding: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.footer_btn {
    width: 100%;
    height: 45px;
    text-align: center;
    border: none;
    position: relative;
    font-size: 18px;
    background-color: blue;
    transition: 0.5s;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.footer_btn:hover {
    transition-delay: 0.5s;
    background-image: var(--colorHover2);
    background-repeat: no-repeat;
    color: white;
    transition: all .5s;
    font-size: 18px;

}

.footer_Contact {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_conteiner_icon {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_icon_conteiner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 8px;

}

.icon_whatsApp {
    background-image: url("../Icon/whatsApp.svg");
}

.icon_likedin {
    background-image: url("../Icon/linkedin.svg");

}

.icon_Git {
    background-image: url("../Icon/gitHub.svg");

}

.icon_instagram {
    background-image: url("../Icon/instagram.svg");
}

.footer_title_contact {
    padding: 10px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: start;
    border-bottom: 3px solid white;
    width: max-content;
}

.footer_contacto_titulo {
    font-size: 10px;
    border-bottom: 1px solid blue;
    width: max-content;
    letter-spacing: 1px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    padding-bottom: 5px;
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.section_footer:hover {
    background-color: rgb(0, 0, 255);
    border-radius: 8px;
}

.icon_phone {
    background-image: url("../Icon/phone.svg");
}

.icon_gmail {
    background-image: url("../Icon/gmail.svg");

}

.icon_ubicacion {
    background-image: url("../Icon/location.svg");

}

.footer_redes {
    display: flex;
    gap: 10px;
}

/* sexta seccion________________________ */
.seccion_end {
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: var(--color6);
}

.contac_li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}

.footer_contacto_titulo {
    font-size: 10px;
}


/* _______________________________media Query____________________________________________- */


@media (max-width:880px) {

    .nav_label {
        background-image: url("../Icon/menu.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
    }

    .nav_item {
        position: fixed;
        display: block;
        bottom: 0px;
        left: 850px;
        top: 70px;
        right: 0px;
        background-color: #88d3ceea;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 80px;
        width: 50%;
        transition: all 0.5s;
    }

    .nav_input {
        display: none;
    }

    .nav_input:checked~.nav_item {
        left: 50%;

    }
    /* primera_seccion */
    .portada_section {
        height: 130vh;
    }
    .container_section_portada {
        gap: 30px;
    }
    .portada_section_img {
        width: 350px;
        height: 350px;
        margin-left: 20px;
    }
    .portada_section_Conteiner {
        width: 80%;
        text-align: justify;
    }
    
    .portada_section_titulo_descripcion {
        font-size: 26px;
        text-align: center;
    }
    
    .portada_section_texto_descripcion {
        text-align: center;
        font-size: 20px;
    }
    
    .section_btn {
       margin: 20px auto;
    }

    /* segunda_seccion */
    .about_seccion {
        height: 130vh;
    }
    .about_section_conteiner {
        gap: 20px;
    }
    .about_section_img {
        width: 350px;
        height: 350px;
        margin-right: 20px;
    }
    .about_section_conteiner_descripcion {
        width: 80%;
        text-align: justify;
    }
    .about_asection_text_descripcion {
        font-size: 20px;
       
    }
    .about_section_descripcion_btn {
        margin-top: 40px;
    }


    /* quinta_seccion */
    .footer_form {
        width: 330px;
        height: 440px;
        margin: 15px auto;
       
    }





}

@media (max-width:800px) {

    /* portada_seccion */
    .portada_section {
        height: 130vh;
    }

    .container_section_portada {
        gap: 30px;
        margin-top: 10px;
    }

    .portada_section_img {
        width: 350px;
        height: 350px;
        margin-bottom: 50px;
    }

    .portada_section_Conteiner {
        width: 80%;
        margin-right: 20px;
    }

    .portada_section_titulo_descripcion {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .portada_section_parrafo_descripcion {
        font-size: 20px;
        margin-bottom: 50px;
        text-align: justify;
    }

    .portada_section_descripcion_btn {
        margin: 30px auto;
    }


    /* about_seccion */
    .about_seccion {
        height: 130vh;
    }

    .about_section_conteiner {
        margin-top: 30px;
    }

    .about_section_img {
        width: 350px;
        height: 350px;
        margin-right: 20px;
    }

    .about_section_conteiner_descripcion {
        width: 80%;
    }

    .about_section_descripcion_titulo {
        margin: 20px auto;
    }

    .about_asection_text_descripcion {
        margin-bottom: 30px;
        font-size: 20px;
        text-align: justify;
    }

    .about_section_datosPersonales {
        margin: 20px auto;
    }

    .about_descripcion_p {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .about_section_span {
        font-size: 17px;
    }

    /* quinta_seccion */
    .conteiner_footer {
        height: 130vh;
        flex-direction: column-reverse;
        gap: 5px;
    }

    .footer_Contact {
        flex-direction: row;
        gap: 60px;
        margin-top: 10px;

    }

    .footer_form {
        width: 350px;
        height: 450px;
        margin-bottom: 20px;
    }
}

@media (max-width:700px) {

    /* quinta_seccion */
    .conteiner_footer {
        gap: 10px;
    }

    .footer_Contact {
        gap: 20px;
        margin: 5px auto;
        margin-top: 10px;

    }

    .footer_form {
        margin-bottom: 20px;
    }

    /* segunda_seccion */


}

@media (max-width:600px) {
    .nav_titulo {
        margin-left: 10px;

    }

    /* quinta seccion */
    .conteiner_footer {
        height: 120vh;
        gap: 5px;
        flex-direction: column;
    }

    .footer_Contact {
        flex-direction: row;
        gap: 20px;
    }

    .footer_form {
        width: 350px;
        height: 440px;
        margin: 10px auto;
    }

    .footer_icon_conteiner {
        height: 35px;
        width: 35px;
    }

    .contac_li {
        font-size: 16px;
    }

    /* primera seccion */
    .container_section_portada {
        gap: 10px;
        margin: 10px auto;
        flex-direction: column;
    }

    .portada_section_img {
        width: 430px;
        height: 430px;
        border-radius: 10px;
        margin: 20px auto;
    }

    .portada_section_titulo_descripcion {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .portada_section_Conteiner {
        width: 90%;
    }

    .portada_section_texto_descripcion {
        text-align: center;
        font-size: 20px;
    }

    /* segunda_seccion */
    .about_seccion {
        height: 160vh;
    }

    .about_section_conteiner {
        flex-direction: column-reverse;
        gap: 5px;
        margin-top: 10px;
    }

    .about_section_img {
        width: 340px;
        height: 340px;
        margin: 10px auto;
    }

    .about_section_conteiner_descripcion {
        width: 90%;

    }

    .about_section_descripcion_titulo {
        border-bottom: 2px solid blue;
        margin-bottom: 10px;
    }

    .about_section_datosPersonales {
        margin-bottom: 10px;
        border-bottom: 2px solid blue;
    }

    .about_descripcion_p {
        margin-bottom: 5px;
        font-size: 18px;

    }

    .about_section_span {
        font-size: 16px;
    }

    .about_section_descripcion_btn {
        margin: 30px auto;
    }

    /* tercera_seccion */
    .section_skill {
        height: 130vh;
    }

    .section_coteiner_skill {
        margin: 20px auto;
        gap: 30px;
    }

    /* cuarta_seccion */

    .section_project_ul {
        gap: 50px;
    }
}
@media (max-width:400px) {
    
}
@media (max-width:375px) {
    /* quinta_seccion */
    .conteiner_footer {
        height: 130vh;
        gap: 5px;
        justify-content:space-evenly ;
    }

    .footer_Contact {
        flex-direction: column;
        gap: 15px;
    }

    .footer_conteiner_icon {
        gap: 15px;
        margin: 0px auto;
    }

    .footer_form {
        width: 320px;
        height: 430px;
        margin: 15px auto;
    }

    .footer_icon_conteiner {
        height: 30px;
        width: 30px;
      
    }

    textarea {
        height: 50px;
    }


    .footer_title_contact {
        margin: 0px auto;
    }
    .contac_li{
        font-size: 18px;
    }

    /* cuarta seccion */
    .section_cotainer_project {
        margin-top: 30px;

    }

    .section_project_ul {
        gap: 20px;
    }

    /* segunda seccion */
    .about_seccion {
        height: 160vh;
    }
    .section_title {
        text-align: center;
        margin: 20px auto;
    } 
    /* primera_seccion */
    .portada_section_img {
        width: 330px;
        height: 330px;
    }
    .portada_section_titulo_descripcion {
        font-size: 25px;
    }


}





























































































































































































/* media Query _____________________________*/
/*

    .nav_items {
        font-size: 30px;
    }

    /* primera seccion */
/* .portada_section {
        margin-top: 8px;
    }

    .container_section_portada {
        margin-top: 50px;
        gap: 50px;
    }

    .section_title {
        margin-top: 10px;
    }

    .portada_section_img {
        width: 330px;
        height: 330px;
    }

    .portada_section_Conteiner {
        width: 70%;

    }

    .portada_section_titulo_descripcion {
        font-size: 25px;
        font-weight: 800;
    }

    .portada_section_texto_descripcion {
        font-size: 20px;

    }

    .portada_section_parrafo_descripcion {
        width: 90%;
        margin-bottom: 20px;
    }

    .section_btn {
        margin-top: 20px;
    }

    .section_btn:hover {
        background-image: var(--colorHover2);
        background-repeat: no-repeat;
        color: white;
        transition: all .5s;

    }


    /* segunda seccion */
/* .about_seccion {
        height: 110vh;
    }
    .about_section_img {
        width: 350px;
        height: 350px;
        margin-right: 20px;

    }

    .about_section_conteiner_descripcion {
        width: 60%;
        margin-left: 15px;
    }

    .about_section_descripcion_titulo {
        border-bottom: 2px solid blue;
    }

    .about_asection_text_descripcion {
        font-size: 20px;
    }

    .about_section_datosPersonales {
        border-bottom: 2px solid blue;
        font-size: 30px;
    }

    .about_descripcion_p {
        font-size: 22px;
    }

    .about_section_span {
        font-size: 18px;
    }
    .about_section_descripcion_btn {
       margin-top: 50px;
    }

    /* tercera seccion */
/* .section_coteiner_skill {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1 fr));
        margin-top: 40px;
        justify-content: center;
        gap: 30px;
    } */

/* quinta seccion */
/* .footer_form {
        width: 340px;
        padding: 22px;
        height: 425px;

    } */
/* }  */

/* @media (max-width:780px) {

    /* quinta seccion */
/* .footer_form {
        width: 350px;
        height: 465px;
        padding: 20px;
        margin-left: 30px;

    }

    .conteiner_footer {
        justify-content: center;
        gap: 50px;

    }

    .footer_Contact {
        margin-right: 10px;
    } */
/* } */

/* @media (max-width:706px) { */

/* primera seccion */
/* .portada_section_img {
        width: 310px;
        height: 310px;
    }

    .about_section_img {
        width: 300px;
        height: 300px;
    }

    .container_section_portada {
        justify-content: center;
        gap: 40px;
    }


    .portada_section_Conteiner {
        width: 40%;
    }

    .portada_section_titulo_descripcion {
        font-size: 22px;

    } */
/* 
    .portada_section_parrafo_descripcion {
        margin-bottom: 20px;
    }

    /* segunda seccion */
/* .about_section_conteiner {
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
    }

    .about_section_descripcion_titulo {
        font-size: 25px;

    }

    .about_section_datosPersonales {
        font-size: 25px;
    }

    .about_descripcion_p {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .about_section_span {
        font-size: 14px;
    }
} */

/*  */

/* /@media (max-width:670px) { */
/* .conteiner_footer {
     height: 120vh;
       gap: 10px;
       flex-direction: column;
    }
    .footer_Contact {
       flex-direction: row;
       gap: 30px;
    }
    .footer_form {
        width: 400px;
        height: 450px;
        margin: 10px auto;
    }
    .footer_icon_conteiner {
        height: 35px;
        width: 35px;
    }

     */
/* } */
/* @media (max-width:450px) { */

/* .conteiner_footer {
        height: 130vh;
        gap: 8px;
       
    }

    .footer_Contact {
        flex-direction: column;
    }

    .footer_conteiner_icon {
        gap: 10px;
    }

    .footer_form {
        width: 360px;
        height: 450px;
        margin: 25px auto;
    }

    .footer_icon_conteiner {
        height: 35px;
        width: 35px;
    }

    textarea {
        height: 60px;
    }


    .footer_title_contact {
        text-align: center;
        margin: 0px auto;

    }
    */

/* } */

/* @media (max-width:470px) { */
/* .conteiner_footer {
        height: 135vh;
    }
    .footer_Contact {
        flex-direction: column;
    }
    .footer_form {
        width: 380px;
        height: 480px;
        margin: 20px auto;
    }
    .footer_icon_conteiner {
        height: 40px;
        width: 40px;
    }
    
    .footer_title_contact {
        text-align: center;
        margin: 0px auto;
    }
    .contac_li{
        font-size: 19px;
    } */
/* } */
/* @media (max-width:375px) {
    .nav_titulo {
        margin-left: 10px;

    }

    .conteiner_footer {
        height: 120vh;
        gap: 5px;
    }

    .footer_Contact {
        flex-direction: column;
        gap: 10px;
    }

    .footer_conteiner_icon {
        gap: 20px;
    }

    .footer_form {
        width: 320px;
        height: 410px;
        margin: 20px auto;
    }

    .footer_icon_conteiner {
        height: 30px;
        width: 30px;
    }

    textarea {
        height: 50px;
    }


    .footer_title_contact {
        text-align: center;
        margin: 0px auto;

    }
    .contac_li{
        font-size: 16px;
    }

    .section_cotainer_project {
        margin-top: 30px;
    }

    .section_project_ul {
        gap: 30px;
    }

    /* segunda seccion */
/* .about_seccion {
        height: 125vh;
    }

    .about_section_descripcion_btn {
        margin-top: 30px;
    }
    .section_title {
        text-align: center;
        margin: 10px auto;
    } */


/* }  */